@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&family=Roboto+Slab:wght@100&display=swap');

body {
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    margin: 0px;
    font-size: large;
}

.input_class {
    margin: 5px;
    border-radius: 5px;
    width: 20%;
    color: green;
    background-color: greenyellow;
    border: 4px dashed grey;
}

.object_name_label {
    font-weight: bold;
    font-size: 15px;
}

canvas {
    border-radius: 10px;
    background-color: red;
    box-shadow: 7px 7px 7px white;
}

p {
    color: black;
    margin-bottom: 0px;
    font-size: small;
}